{{#if products.length}}
    <div class="container album bg-body-tertiary">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {{#each products}}
            <div class="col py-4">
                <div class="card">
                    <a href=/products/{{_id}}>
                        <img src={{image}} class="img-thumbnail img-fluid hover-img" alt={{title}}>
                    </a>
                    <div class="card-body px-2">
                        <h5 class="card-title text-capitalize">
                            <a href=/products/{{_id}}>
                                {{this.title}}
                            </a>
                        </h5>
                            {{!-- <div class="d-flex gap-3 justify-content-between">
                                <p class="fs-6">created {{createDate createdAt}}</p>
                                <p class="fs-6">update {{createDate updatedAt}}</p>
                            </div> --}}
                        <div class="avatar">
                            <small>Created by: </small>
                            <p class="text-capitalize fw-bold fs-5">{{user.firstName}}</p>
                            <p class="text-capitalize fw-bold fs-5">{{user.lastName}}</p>
                        </div>
                    </div>
                    <div class="card-footer px-2 py-0 m-0 d-flex justify-content-between align-items-center">
                        <small class="ms-1 fst-italic text-break">Created at: {{createDate createdAt}}</small>
                        <small class="fs-5 px-2 text-primary">${{this.price}}</small>
                    </div>
                </div>
            </div>
        {{/each}}
      </div>
    </div>

{{else}}
    <h2 class="text-center">Oops, there's no product...</h2>
    
{{/if}}

